<body>
    <div class="row">
        <div class="left" style="background-color:#bbb;">
            <h2>Menu</h2>
            <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
            <ul id="myMenu">
                <li><a href="#">Campaign</a></li>
                <li><a href="#">Idea</a></li>
                <li><a href="#">Owner</a></li>
                <li><a href="#">Date</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Division</a></li>
                
            </ul>
        </div>
        <div class="right" style="background-color:#ddd;">
                    <div class="row">
                        <div class="column">
                            <div class="card">
                                <p>This is my first idea, remove PK sir from the team</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <p>PK sir asking his manager time for working on hackathon and not doing shit</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">..</div>
                        </div>
                        <div class="column">
                            <div class="card">..</div>
                        </div>
                    </div>
                    </div>
    </div>
</body>